name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-base:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: '26'
          elixir-version: '1.16'
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Cache deps
        uses: actions/cache@v4
        with:
          path: deps
          key: deps-${{ runner.os }}-${{ hashFiles('**/mix.lock') }}
      - name: Cache build
        uses: actions/cache@v4
        with:
          path: _build
          key: build-${{ runner.os }}-${{ hashFiles('**/mix.lock') }}
      - name: Deps
        run: mix deps.get
      - name: Compile
        run: mix compile
      - name: Test
        run: mix test --exclude ssi

  build-test-ssi:
    runs-on: ubuntu-latest
    env:
      JSONLD_NIF_FORCE_BUILD: '1'
      JSONLD_NIF_FEATURES: 'ssi_urdna2015'
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: '26'
          elixir-version: '1.16'
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Cache deps
        uses: actions/cache@v4
        with:
          path: deps
          key: deps-ssi-${{ runner.os }}-${{ hashFiles('**/mix.lock') }}
      - name: Cache build
        uses: actions/cache@v4
        with:
          path: _build
          key: build-ssi-${{ runner.os }}-${{ hashFiles('**/mix.lock') }}
      - name: Deps
        run: mix deps.get
      - name: Compile (ssi)
        run: mix compile
      - name: Test (include ssi)
        run: mix test

